.anchor {
    -fx-background-image:url('room_4.jpg');
    -fx-background-size: 800px 524px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button{
    -fx-border-color: transparent, gray;
    -fx-border-width: 2;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-background-color: transparent, gainsboro;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
}

.button:pressed {
    -fx-border-color: transparent, gray;
    -fx-opacity: 0.5;
    -fx-background-radius: 50;
    -fx-border-width: 2;
    -fx-border-radius: 50;
}